[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
black = "*"
mypy = "*"
setuptools = "*"
tomli = {"version"= "*", "markers"= "python_version < '3.10'"}
exceptiongroup = {"version"= "*", "markers"= "python_version < '3.10'"}

[packages]
requests = "*"

[requires]
python_version = "3"
